$backgroundColor: #F1F1F1;
$orange: #FF7F51;
$brown: #705D56;
$darkBlue: #3C4242;
$lightGrey: #9E9E9E;
$backgroundAccent: #EBE6E4;
$colourCloser: #4D9AD1;
$colourCheaper: #62C33F;

$AddShoppingButton: #c7c2c1;

$headingFont: Raleway, sans-serif;
$paragraphFont: Roboto, sans-serif;

$titleSize: 2rem; // UTILIZAR REM?
$titleSizeAPP: 1.5rem; // UTILIZAR REM?

$subtitleSize: 1.8rem; // UTILIZAR REM?
$subtitleSizeAPP: 1.3rem; // UTILIZAR REM?

$listTitles: 1.4rem; //UTILIZAR REM?
$listTitlesAPP: 1.2rem; //UTILIZAR REM?

$paragraphSize: 1.2rem; // UTILIZAR REM?
$paragraphSizeAPP: 1rem; // UTILIZAR REM?

$libraryDetails: 1.6rem;
$libraryDetailsAPP: 0.9rem;


  .userItems-Library{
    display: flex;
    align-content: center;
    width: 100%;


    .userItems-LibraryImage{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 160px;
      height: 188px;
    }

    .userItems-LibraryText{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;


      .texts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        margin: 0 0.5rem 0 1rem;

        .name{
          font-family: $headingFont;
          font-size: $listTitles;
          font-weight: bold;
          color: $brown;
        }

        .author{
          font-family: $paragraphFont;
          font-size: $paragraphSize;
          color: $brown;
          text-align: left;
          line-height: 1.5rem;
        }

        .library{
          font-family: $paragraphFont;
          font-size: $paragraphSize;
          color: $brown;
          text-align: left;
          line-height: 1.5rem;
        }

        .quantity{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 5rem;
          width: 100%;

          .plus{
            width: 1.8rem;
            height: 1.8rem;
            border: none;
            border-radius: 0.3rem;
            background-color: $AddShoppingButton;
            cursor: pointer;
          }
          .quantity-value{
            font-family: $paragraphFont;
            font-size: $paragraphSize;
            color: $brown;
            padding: 0.5rem;
          }
          .minus{
            width: 1.8rem;
            height: 1.8rem;
            border: none;
            border-radius: 0.3rem;
            background-color: $AddShoppingButton;
            font-size: 1rem;
            cursor: pointer;
          }
          .remove{
            border: none;
            font-family: $paragraphFont;
            font-size: $paragraphSize;
            color: $brown;
            cursor: pointer;
            margin-left: 0.3rem;
          }
        }

        .price{
          font-family: $paragraphFont;
          font-size: $paragraphSize;
          color: $brown;
        }
      }
    }
  }


/*  - - -   MEDIA - - - */
@media (max-width: 768px) {

  .userItems-Library{
    display: flex;
    align-content: center;
    width: 100%;
    height: 7rem;
    margin: 1rem auto 0.2rem auto ;

    .userItems-LibraryImage{
      background-image: url("../../components/userItems/LivrariaBarata.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 102px;
      height: 109px;

    }

    .userItems-LibraryText{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 0.5rem 0 0.5rem;


      .texts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        margin: 0;


        .name{
          font-family: $headingFont;
          font-size: 1rem;
          font-weight: bold;
          color: $brown;
        }

        .author{
          font-family: $paragraphFont;
          font-size: $libraryDetailsAPP;
          color: $brown;
          text-align: left;
          line-height: 1.3rem;
        }

        .library{
          font-family: $paragraphFont;
          font-size: $libraryDetailsAPP;
          color: $brown;
          text-align: left;
          line-height: 1.3rem;
        }


        .quantity{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 1rem;

          width: 100%;

          .quantity-buttons{
            .plus{
              border: none;
              border-radius: 0.1rem;
              background-color: $AddShoppingButton;
              cursor: pointer;
            }
            .quantity-value{
              font-family: $paragraphFont;
              font-size: $libraryDetailsAPP;
              color: $brown;
              padding: 0.5rem;
              cursor: pointer;
            }
            .minus{
              border: none;
              border-radius: 0.1rem;
              background-color: $AddShoppingButton;
              cursor: pointer;
            }
            .remove{
              border: none;
              font-family: $paragraphFont;
              font-size: $libraryDetailsAPP;
              color: $brown;
              cursor: pointer;
              margin-left: 0.3rem;
            }
          }
          .price{
            font-family: $paragraphFont;
            font-size: $libraryDetailsAPP;
            color: $brown;
          }


        }


      }

    }

  }


}

