$backgroundColor: #F1F1F1;
$orange: #FF7F51;
$brown: #705D56;
$darkBlue: #3C4242;
$lightGrey: #9E9E9E;
$backgroundAccent: #EBE6E4;
$colourCloser: #4D9AD1;
$colourCheaper: #62C33F;

$headingFont: Raleway, sans-serif;
$paragraphFont: Roboto, sans-serif;

$titleSize: 2rem; // UTILIZAR REM?
$titleSizeAPP: 1.5rem; // UTILIZAR REM?

$subtitleSize: 1.8rem; // UTILIZAR REM?
$subtitleSizeAPP: 1.3rem; // UTILIZAR REM?

$listTitles: 1.4rem; //UTILIZAR REM?
$listTitlesAPP: 1.2rem; //UTILIZAR REM?

$paragraphSize: 1.2rem; // UTILIZAR REM?
$paragraphSizeAPP: 1rem; // UTILIZAR REM?

$libraryDetails: 1.6rem;
$libraryDetailsAPP: 0.9rem;



.userStatus{
  display: flex;
  align-content: center;
  width: 100%;
  height: 6rem;
  margin: 1rem auto 0.5rem auto ;
  background-color: $backgroundAccent;
  border-radius: 1rem;


  .userStatusText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .texts{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      margin-left: 1.6rem;

      .title{
        font-family: $headingFont;
        font-size: $paragraphSize;
        font-weight: bold;
        color: $brown;
      }

      .text{
        font-family: $paragraphFont;
        font-size: $paragraphSize;
        color: $brown;
      }

    }

    .arrow-icon{
      background-image: url("./arrow.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 2rem;
      height: 2rem;

      margin-right: 1.6rem;
    }

  }

}

/*  - - -   MEDIA - - - */
@media (max-width: 768px) {

  .userStatus{
    display: flex;
    align-content: center;
    width: 100%;
    height: 5rem;
    margin: 1rem auto 0.2rem auto ;
    background-color: $backgroundAccent;
    border-radius: 1rem;


    .userStatusText{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;


      .texts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;

        margin-left: 1.6rem;

        .title{
          font-family: $headingFont;
          font-size: $paragraphSizeAPP;
          font-weight: bold;
          color: $brown;
        }

        .text{
          font-family: $paragraphFont;
          font-size: $paragraphSizeAPP;
          color: $brown;
        }

      }

      .arrow-icon{
        background-image: url("./arrow.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 1.7rem;
        height: 1.7rem;

        margin-right: 0.7rem;
      }

    }



  }


}
