@import "../../../App";

.PrimaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 0.10;
  border-radius: 50px;
  background-color: $orange;

  .button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $orange;
    font-family: $headingFont;
    color: white;
    font-size: 4rem;
    font-weight: 700;
  }
}
