@import "../../../App";

.PrimaryButton {

  button {
    border: none;
    border-radius: 50px;
    padding: 1rem 6rem;
    background-color: $orange;
    font-family: $headingFont;
    color: white;
    font-size: $paragraphSize;
    font-weight: 700;
    cursor: pointer;

    @media(max-width: 768px) {
      padding: 0.8rem 4.5rem;
      font-size: $paragraphSizeAPP;
    }
  }
}
