.Author {
  margin: 25px 3% 25px 0;
  transform: scale(1);
  transition: transform 0.08s ease-in-out;

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
  }

  h2 {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  &:hover {
    transform: scale(1.02);
  }
}