@import "src/App";

.WhereToBuy {
  display: flex;
  align-items: center;
  width: 100%;

  .image {
    background-color: $brown;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 110px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    margin-right: 20px;
  }

  .info {
    color: $darkBlue;
    font-family: $headingFont;
    flex-direction: column;

    h3 {
      font-weight: 600;
      font-size: $paragraphSizeAPP;
      margin-top: 0px;
      margin-bottom: 4px;
    }

    p {
      font-weight: 400;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    h4 {
      font-weight: 800;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}