@import "src/App";

.AboutAuthor {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
  flex-direction: column;

  .ContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5rem;


    .Image {
      background-color: $brown;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 50%;
      aspect-ratio: 1 / 1;
      border-radius: 200px;
      margin-right: 4rem;
      margin-bottom: 3rem;

    }

    .Info {
      width: 100%;
      font-family: $paragraphFont;
      color: $brown;

      > h2 {
        font-weight: 700;
        color: $brown;
      }

     /*  > p {
        font-weight: 400;
        color: $darkBlue;
        line-height: 1.6rem;
      }*/
    }
  }
}

@media (max-width: 769px) {
  .AboutAuthor {
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;

    .ContentWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .Image {
        width: 50%;
        margin-right: 40px;
      }
    }
  }
}





