@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Josefin+Sans:wght@200;300;500;600&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "src/App.scss";

.BookPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  margin-bottom: 2rem;
  margin-right: 0.6rem;
  transition: box-shadow 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.2s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 2px transparent;
    opacity: 1;
    transform: scale(1.02);
  }

  .Link {
    height: 100%;
    width: 100%;
    color: black;
    position: relative;
  }

  .ImageContainer {
    width: 100%;
    aspect-ratio: 1/1.4;
    padding-bottom: 75%;
    position: relative;
    border-radius: 1rem;
    margin-bottom: 1rem;

    .Image {
      position: absolute;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      width: 95%;
      height: 100%;
      border-radius: 1rem;
    }
  }

  .LastUnits {
    position: absolute;
    top: 0.8rem;
    left: 1.2rem;
    width: 10vw;
    padding: 0.5rem;
    aspect-ratio: 1/0.2;
    background-color: $orange;
    color: white;
    text-align: center;
    border-radius: 50px;
    font-size: small;
    font-family: $headingFont;
    font-weight: 600;

    @media (max-width: 768px) {
      width: 24vw;
      aspect-ratio: 1/0.2;
        font-size: 1.2vh;

      transition: box-shadow 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.2s ease-in-out, transform 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 0 2px transparent;
        opacity: 1;
        transform: scale(1.02);
      }
    }
  }

  .Info {
    display: flex;
    flex-direction: column;
    font-family: $headingFont;
    color: $brown;

    h3 {
      font-weight: 600;
      font-size: $paragraphSizeAPP;
      margin-top: 0;
      margin-bottom: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    h4 {
      font-weight: 600;
      font-size: 0.8rem;
      margin: 0 0 5px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

}

.BookPrice.esgotado {
  filter: grayscale(100%);
  // ou qualquer outra estilização em tons de cinza desejada
}