.AuthorSearch {
  text-decoration: none;

  .contentDisplay {
    display: flex;

    @media(max-width: 768px) {
      flex-direction: column;
    }
  }

  .search {
    flex: 1;

    .container {
      margin: 0 10%;

      h1 {
        font-size: $titleSize;
        color: $brown;
        width: 100%;
      }

      h2 {
        font-size: $paragraphSize;
        color: $brown;
      }
    }
  }
}
