.Merch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  margin-bottom: 20px;
  margin-right: 0.6rem;
  transform: scale(1);
  transition: transform 0.08s ease-in-out;

  .link {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .image {
    width: 100%;
    height: 22rem;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 85%;
      aspect-ratio: 0.7 / 0.9;
      border-radius: 1rem;
    }
  }

  h3 {
    font-weight: 600;
    font-size: $paragraphSizeAPP;
    color: $brown;
    margin-top: 10px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    transform: scale(1.02);
  }
}