
.home {
  background-color: #F1F1F1FF;      /* SUBSTITUIR POR VARIÁVEL */
}

.content{

  .wrapper{
      display: flex;
      flex-flow: column;
      text-align: center;
      width: 60%;
      margin: 0 auto;
  }

  .logo-container {
    width:  100%;
    border-radius: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 8rem;

    .logoBooksAndDreams{
      background-image: url("../../../public/assets/BooksAndDreamsTrim.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      align-self: start;

      width:  70%;
      min-width: 300px;
      height: 5rem;
      margin: 0;
    }

    .textBooksAndDreams{
      margin: 0;
      align-self: start;
      text-align: left;


    }

  }



  .banner-christmas{
    background-image: url("./bannerHomeChristmas.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    width:  100%;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;


    .christmas-texto{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5%;

        .left{
          width: 50%;
        }
        .right{
          width: 50%;

          .btn-compre-agora{
              background-color: #FF7F51;
              color: white;
              padding: 0.5rem 1rem;
              border-radius: 1rem;
              border: none;
              outline: none;

          }
        }

    }


  }

  .banner-library{
    background-image: url("./bannerHomeLibrary.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width:  100%;
    border-radius: 2rem;
    margin-bottom: 1.5rem;

    text-align: center;
  }

  .footer {
    width:  100%;
    background-color: #705D56;
    p {
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    .wrapper{
      width: 85%;
      margin: 0 auto;
    }
  }
}







