$backgroundColor: #F1F1F1;
$orange: #FF7F51;
$brown: #705D56;
$backgroundAccent: #EBE6E4;
$colourCloser: #4D9AD1;
$colourCheaper: #62C33F;

$headingFont: Raleway, sans-serif;
$paragraphFont: Roboto, sans-serif;
$priceFont: Raleway, sans-serif;

$titleSize: 40px; // UTILIZAR REM?
$titleSizeAPP: 22px; // UTILIZAR REM?

$subtitleSize: 30px; // UTILIZAR REM?
$subtitleSizeAPP: 18px; // UTILIZAR REM?

$listTitles: 25px; //UTILIZAR REM?
$listTitlesAPP: 20px; //UTILIZAR REM?

$paragraphSize: 1.6rem; // UTILIZAR REM?
$paragraphSizeAPP: 1rem; // UTILIZAR REM?

$libraryDetails: 1.6rem;
$libraryDetailsAPP: 0.9rem;


.home {
  background-color: $backgroundColor;
}

.content{

  .wrapper{
      display: flex;
      flex-flow: column;
      text-align: center;
      max-width: 80%;
      margin: 1.5rem auto 1rem auto;
  }

  .logo-container {
    width:  100%;
    border-radius: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .logoBooksAndDreams{
      background-image: url("../../../public/assets/BooksAndDreamsTrim.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left top;

      align-self: start;

      width:  70%;
      min-width: 300px;
      height: 5rem;
      margin: 0;
    }

    .textBooksAndDreams{
      margin: 0;
      align-self: start;
      text-align: left;
      color: $brown;

    }

  }

  .banner-christmas{
    background-image: url("./bannerHomeChristmas1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:  100%;
    height: fit-content;
    border-radius: 2rem;
    margin-bottom: 1rem;
    text-align: center;

    transition: box-shadow 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 0 0 2px transparent;
      opacity: 1;
      transform: scale(1.02);
    }


    p{
      font-size: 1.3rem;
      line-height: 25px;
    }

    .christmas-texto{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5%;
      font-size: 1.5rem;
      line-height: 25px;
      color: $brown;
      margin-top: 0.2rem;

        .left{
          width: 50%;

        }
        .right{
          width: 50%;

          .btn-compre-agora{
              background-color: #FF7F51;
              color: white;
              font-size: 0.8rem;
              padding: 0.5rem 1rem;
              margin-right: -0.5rem;
              border-radius: 1rem;
              border: none;
              outline: none;
            margin-top: 1rem;
            cursor: pointer;
          }
        }
    }

  }

  .wrapper-list-home{
    max-width: 80%;
    margin: auto;
  }

  .banner-books{
    width:  100%;
    height: 340px;
    border-radius: 2rem;
    margin-bottom: 0.4rem;
    text-align: center;

    display: flex;
    justify-content: space-evenly;

  }

  .banner-mission{
    display: flex;
    flex-direction: column;

    width:  100%;
    height: 340px;
    border-radius: 2rem;

    margin-bottom: 1.5rem;
    text-align: center;

    .mission-text{
      display: flex;
      justify-content: space-around;
      align-items: center;

      color: $brown;

      p{
        font-size: 1.5rem;
        line-height: 20px;
      }

    }

    .image-mission{
      background-image: url("./banner_mission.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left top;

      width: 100%;
      height: 350px;
      object-fit: contain;

    }

  }

}





/*  - - -   MEDIA - - - */
@media (max-width: 768px) {

  .content{
    .wrapper{
      width: 85%;
      margin: 0 auto;
    }

    .logo-container {
      width: 100%;
      border-radius: 2rem;
      margin-top: 0.7rem;
      margin-bottom: 2rem;

      .logoBooksAndDreams{
        background-image: url("../../../public/assets/BooksAndDreamsTrim.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        align-self: center;

        width:  50%;
        min-width: 200px;
        height: 3rem;
        margin: 0;
      }


      .textBooksAndDreams{
        margin: 0;
        align-self: start;
        align-self: center;
        font-size: 1rem;

      }

    }

    .banner-christmas {
      background-image: url("./bannerHomeChristmas2.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;

      transition: box-shadow 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 0 0 2px transparent;
        opacity: 1;
        transform: scale(1.02);
      }



      p{
        font-size: 1rem;
        line-height: 20px;
      }


      .christmas-texto{
        font-size: 0.7rem;
        margin-top: 2rem;

        .left{
          width: 50%;
        }
        .right{
          width: 50%;

          .extra{
            display: none;
          }

          .btn-compre-agora{
            background-color: #FF7F51;
            color: white;
            padding: 0.4rem 0.7rem;
            font-size: 0.8rem;
            border-radius: 1rem;
            border: none;
            outline: none;


          }
        }
      }
    }

    .wrapper-list-home{
      max-width: 80%;
      margin: 0 auto;
    }

    .banner-books{
      width: 100%;
      min-height: 595px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-bottom: 2.1rem;
    }

    .banner-mission{
      display: none;



      display: flex;
      flex-direction: column;
      width:  100%;
      height: 240px;
      border-radius: 2rem;

      margin-bottom: 1.5rem;
      text-align: center;


      .image-mission{
        background-image: url("./banner_mission.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left top;

        width: 100%;
        height: 300px;
        object-fit: contain;

      }
      .mission-text{
        p{
          font-size: 0.9rem;
          line-height: 18px;
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.1rem;
        line-height: 1px;
        color: $brown;

      }


    }


  }

  .footer{
    display: none;
  }

}

@media (max-width: 1000px) {

  .footer {
    display: none;
  }

}















