.AuthorDetails {
  display: flex;
  flex-direction: column;
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 55vh;
    font-size: 5rem;
    color: $orange;
  }
  .container {
    margin: 0 10%;
    .author {
      width: 100%;
      display: flex;
      justify-content: space-between;
      span {
        font-size: $paragraphSizeAPP;
      }
      .img {
        width: 45%;
        img {
          width: 100%;
          margin-top: 10%;
          border-radius: 50%;
        }
      }
      .description {
        width: 50%;
        font-size: $paragraphSize;
        h1 {
          font-size: $titleSize;
          margin: 0;
          color: $brown;

          @media(max-width: 768px) {
            font-size: $titleSizeAPP;
          }
        }
      }

      @media (max-width: 1054px) {
        flex-direction: column;
        align-items: center;
        .img {
          width: 55%;
        }
        .description {
          width: 100%;
        }
      }
    }
    .highlight {
      display: flex;
      justify-content: space-between;
      width: 100%;

      a {
        width: 35%;
        .img {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      .description {
        width: 60%;
        font-size: $paragraphSize;
        h1 {
          font-size: $titleSize;
          margin: 0;
          color: $brown;

          @media(max-width: 768px) {
            font-size: $titleSizeAPP;
          }
        }
      }
      @media (max-width: 1054px) {
        flex-direction: column;
        align-items: center;
        .img {
          width: 55%;
          margin-bottom: 20px;
        }
        .description {
          width: 100%;
        }
      }
    }
  }
}
