.SearchInput {
  display: flex;
  align-items: center;
  width: 100%;

  .contentDisplay {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .search {
      width: 100%;
      display: flex;
      align-items: center;

      .input {
        width: 80%;
        height: 60px;
        display: flex;
        align-items: center;
        color: $brown;
        font-family: $paragraphFont;

        #inputField {
          width: 100%;
          background-color: $backgroundAccent;
          border-radius: 50px;
          padding-left: 20px;
          border: none;
          height: 55px;
          font-family: $paragraphFont;
          font-size: 1rem;

          &::placeholder {
            color: #838383;
            font-family: $paragraphFont;
            font-size: 1rem;
          }

          &:focus {
            outline: none;
          }
        }

        @media(max-width: 768px) {
          width: 90%;
        }
      }

      svg {
        color: $brown;
        display: flex;
        height: 1.5rem;
        margin-left: 20px;

        &:hover {
          color: $orange;
          cursor: pointer;
        }
      }
    }
  }

  p {
    color: #838383;
    display: flex;
    align-items: center;
    margin-right: 4%;

    @media(max-width: 768px) {
      display: none;
    }
  }
}