$backgroundColor: #F1F1F1;
$orange: #FF7F51;
$brown: #705D56;
$darkBlue: #3C4242;
$lightGrey: #9E9E9E;
$backgroundAccent: #EBE6E4;
$colourCloser: #4D9AD1;
$colourCheaper: #62C33F;

$headingFont: Raleway, sans-serif;
$paragraphFont: Roboto, sans-serif;

$titleSize: 2rem; // UTILIZAR REM?
$titleSizeAPP: 1.5rem; // UTILIZAR REM?

$subtitleSize: 1.8rem; // UTILIZAR REM?
$subtitleSizeAPP: 1.3rem; // UTILIZAR REM?

$listTitles: 1.4rem; //UTILIZAR REM?
$listTitlesAPP: 1.2rem; //UTILIZAR REM?

$paragraphSize: 1.2rem; // UTILIZAR REM?
$paragraphSizeAPP: 1rem; // UTILIZAR REM?

$libraryDetails: 1.6rem;
$libraryDetailsAPP: 0.9rem;


.home {
  background-color: $backgroundColor;
}

.content{

  .shoppingCart-Info{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;

    .shoppingCart-Banner{
      width: 100%;
      height: 170px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      z-index: 0;
    }

    .wrapper-Info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 5rem auto 0 auto ;
      z-index: 1;

      .imageText{
        display: flex;
        flex-wrap: wrap;
        align-self: start;

        .shoppingCart-Image{
          width: 15rem;   /* 240px */
          height: 15rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          text-align: left;
          margin-left: 0;
        }

        .shoppingCart-Text{
          width: 15rem;
          font-family: $headingFont;
          font-size: $paragraphSize;
          color: $brown;
          text-align: left;
          display: flex;
          flex-direction: column;
          margin-left: 1rem;
          margin-top: 6rem;

          h1{
            margin-bottom: 0;
          }
        }
      }
    }

  }

  .wrapper{
    display: flex;
    flex-flow: column;
    text-align: center;
    max-width: 80%;
    margin: 1rem auto 1rem auto;

    .title-checkout{
      font-family: $headingFont;
      color: $brown;
      text-align: left;
      margin-bottom: -1rem;
    }

    .total-checkout{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: $brown;
      padding: 0.8rem;
      margin-top: 2.6rem;

      border-radius: 1.3rem;

      .text{
        font-family: $headingFont;
        font-size: $listTitles;
        color: $backgroundAccent;
        margin-left: 0.5rem;
      }

      .price{
        font-family: $headingFont;
        font-size: $listTitles;
        margin-right: 0.5rem;
        color: $backgroundAccent;

      }
    }

    .btn-box{
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: end;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 2rem;

      .button-continuar{
        background-color: #FF7F51;
        color: white;
        font-size: $paragraphSize;
        padding: 0.5rem 4rem;
        margin-right: -0.5rem;
        border-radius: 1rem;
        border: none;
        outline: none;
        margin-top: 1rem;
        margin-right: 0rem;
        cursor: pointer;
      }
    }

    .space{
      height: 3rem;
    }
  }

  .wrapper-list-profile{
    max-width: 80%;
    margin: 0 auto;
  }

}



/*  - - -   MEDIA - - - */
@media (max-width: 768px) {

  .content{
    .shoppingCart-Info{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0);


      .shoppingCart-Banner{
        width: 100%;
        height: 150px;
        background-color: pink;
        background-image: url("Spring-Nature-Beautiful.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width:  100%;

        position: absolute;
        z-index: 0;
      }

      .wrapper-Info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(255, 0, 0, 0);
        width: 50%;
        margin: 4rem auto 0 auto ;
        z-index: 1;


        .imageText{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          border: 1px solid rgba(255, 0, 0, 0);

          .shoppingCart-Image{
            width: 10rem;
            height: 10rem;
            background-image: url("profile_user1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;

          }

          .shoppingCart-Text{
            padding: 0;
            font-family: $headingFont;
            font-size: $paragraphSizeAPP;
            color: $brown;
            margin-top: 0;
            margin-left: -0.3rem;

            h1{
              margin: 0;
              text-align: center;
            }

            .button{
              align-self: center;
            }

          }

        }
      }

    }

    .wrapper{
      width: 85%;
      margin: 1rem auto;

      .title-checkout{
        font-family: $headingFont;
        font-size: 1.5rem;
        color: $brown;
        text-align: left;
        margin-bottom: 0rem;
      }

      .shoppingCart-Info{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: relative;

        .shoppingCart-Banner{
          width: 100%;
          height: 170px;
          background-color: pink;
          background-image: url("Spring-Nature-Beautiful.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width:  100%;

          position: absolute;
          z-index: 0;
        }
      }

      .total-checkout{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $brown;
        margin-top: 1rem;
        padding: 0.5rem;
        border-radius: 1.3rem;


        .text{
          font-family: $headingFont;
          font-size: 1.1rem;
          color: $backgroundAccent;
          margin-left: 0.5rem;
        }

        .price{
          font-family: $headingFont;
          font-size: 1.1rem;
          margin-right: 0.5rem;
          color: $backgroundAccent;

        }
      }

      .btn-box{
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: end;
        align-items: center;


        .button-continuar{
          background-color: #FF7F51;
          color: white;
          font-size: 1rem;
          padding: 0.5rem 3rem;
          margin-right: -0.5rem;
          border-radius: 1rem;
          border: none;
          outline: none;
          margin-right: 0rem;
          cursor: pointer;
        }
      }

      .space{
        height: -0rem;
      }

    }

  }

  .footer{
    display: none;
  }

}

@media (max-width: 1000px) {

  .footer {
    display: none;
  }

}















