.BookshopDetails {

  .header {
    position: relative;

    .banner {
      height: 55vh;
      width: 100%;
      background-size: 100%;
      background-position: top 40% left 0;
      background-repeat: no-repeat;

      @media(max-width: 768px) {
        height: 30vh;
        width: 100vw;
      }
    }

    .favorite {
      position: absolute;
      right: 10%;
      bottom: -8%;

      @media(max-width: 768px) {
        bottom: -15%;
      }
    }
  }

  .container {
    margin: 0 10%;

    h1 {
      font-size: $titleSize;
      color: $brown;

      @media(max-width: 768px) {
        font-size: $titleSizeAPP;
      }
    }

    .information {
      display: flex;
      margin-bottom: 4rem;

      .left {
        width: 55%;

        @media(max-width: 768px) {
          width: 100%;
        }
      }

      .right {
        max-width: 40%;
        margin-left: 5%;

        @media(max-width: 768px) {
          min-width: 100%;
          margin-left: 0;
        }
      }

      @media(max-width: 768px) {
        flex-direction: column;
        margin-bottom: 2rem;
      }
    }

    .photos {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 4rem;

      .photo {
        width: 32%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 15%;

        @media(max-width: 768px) {
          width: 48%;
          margin-bottom: 15px;
        }
      }

      @media(max-width: 768px) {
        flex-wrap: wrap;
        margin-bottom: 2rem;
      }
    }

    .specialPhoto {
      width: 33%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 15%;
      margin-right: 4rem;

      @media(max-width: 768px) {
        width: 50%;
        margin-bottom: 15px;
      }
    }

    .text {
      display: flex;
      align-items: center;
    }
  }
}