@import "src/App";

.WrapList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .BookPrice {
    width: calc(50% - 10px);
    margin-bottom: 20px;

    @media (min-width: 768px) {
      width: calc(25% - 10px);
    }
  }
  @media (max-width: 768px) {
margin-bottom: 0.6rem  }
}
