.Favorite {
  background-color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 100%;

  .icon {
    font-size: 2.8rem;
    color: $orange;

    @media(max-width: 768px) {
      font-size: 2rem;
    }
  }

  &:hover {
    cursor: pointer;
  }
}