@import "../../../App";

.SecondaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 0.20;
  margin-top: 1rem;
  border-radius: 40px;
  background-color: $orange;

  .button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $orange;
    font-family: $headingFont;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .SecondaryButton {
    width: 50%;
    button {
      margin-bottom: 2px;
      font-size: 0.8rem;
    }
  }
}