.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .modal-content {
    width: 80%;
    max-width: 550px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    background-color: $backgroundAccent;
    border-radius: 20px;
  }

  &.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
}

