.NavBar {
  min-width: 7%;
  background-color: $backgroundAccent;
  height: 100vh;
  position: sticky;

  .menuBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .logo {
      width: 60%;
      margin: 2.5rem auto 0 auto;
      display: flex;

      &:hover {
        transform: scale(1.2);
      }

      @media (max-width: 768px) {
        margin: auto;
      }
    }

    .menuItems {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
      margin: 7.5rem 0 10rem 0;

      .round {
        background-color: $backgroundColor;
        padding: 13px;
        border-radius: 50px;
        > img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
        }
        &.withIMG {
          padding: 0;
        }

        &.cart {
          position: relative;

          .quantity {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            background-color: $brown;
            color: white;
            aspect-ratio: 1/1;
            border-radius: 100px;
            right: -18px;
            top: -15px;

            h1 {
              font-size: 0.6vw;
              font-weight: 700;
            }
          }

          @media (max-width: 768px) {
            .quantity {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 58%;
              background-color: $brown;
              color: white;
              aspect-ratio: 1/1;
              border-radius: 100px;
              right: -10px;
              top: 20px;

              h1 {
                font-size: 1.8vw;
                font-weight: 700;
              }
            }

          }
        }

        &:hover {
          transform: scale(1.2);
        }

        @media (max-width: 768px) {
          background-color: $backgroundAccent;
        }
      }


      .menuItem {
        width: 1.5rem;
        height: 1.5rem;

        @media (max-width: 768px) {
          flex: 1;
        }
      }

      a {
        color: $brown;

        &.active {
          color: $backgroundColor;

          .round {
            background-color: $brown;

            @media (max-width: 768px) {
              background-color: $backgroundAccent;
            }
          }

          @media (max-width: 768px) {
            color: $orange;
          }
        }
      }

      @media (max-width: 768px) {
        flex-direction: row;
        height: fit-content;
        margin: 0;
        width: 60%;
      }
    }

    @media (max-width: 768px) {
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: center;
    }
  }

  @media (max-width: 1279px) {
    min-width: 9%;

    @media (max-width: 768px) {
      height: 75px;
      width: 100%;
      bottom: 0;
    }
  }
}
