@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Josefin+Sans:wght@200;300;500;600&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$backgroundColor: #F1F1F1;
$orange: #FF7F51;
$brown: #705D56;
$darkBlue: #3C4242;
$lightGrey: #9E9E9E;
$backgroundAccent: #EBE6E4;
$colourCloser: #4D9AD1;
$colourCheaper: #62C33F;

$headingFont: Raleway, sans-serif;
$paragraphFont: Roboto, sans-serif;

$titleSize: 2rem; // UTILIZAR REM?
$titleSizeAPP: 1.5rem; // UTILIZAR REM?

$subtitleSize: 1.8rem; // UTILIZAR REM?
$subtitleSizeAPP: 1.3rem; // UTILIZAR REM?

$listTitles: 1.4rem; //UTILIZAR REM?
$listTitlesAPP: 1.2rem; //UTILIZAR REM?

$paragraphSize: 1.2rem; // UTILIZAR REM?
$paragraphSizeAPP: 1rem; // UTILIZAR REM?

$libraryDetails: 1.6rem;
$libraryDetailsAPP: 0.9rem;

* {
  box-sizing: border-box;
}

body, html {
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
  height: 100%;
  text-decoration: none;
}

.App {
  display: flex;
  height: 100vh;

  .content {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
  }

  p {
    font-family: $paragraphFont;
    font-size: $paragraphSize;
    font-weight: 200;
    line-height: 30px;
    margin: 0;

    @media(max-width: 768px) {
      font-size: $paragraphSizeAPP;
    }
  }

  @media(max-width: 768px) {
    flex-direction: column-reverse;
  }
}

@import "components/shared/Modal/Modal";
@import "components/error/ErrorModal";
@import "components/shared/Input/Input";
@import "components/shared/buttons/buttons";
@import "components/forms/login/LoginForm";
@import "components/shared/Dropdown/Dropdown";
@import "components/forms/register/RegisterForm";
@import "components/shared/pagination/Pagination";

@import "components/slideShow/SlideShow";
@import "components/favorite/favorite";
@import "components/subtitle/subtitle";
@import "components/filter/Filter";
@import "components/filter/filterOption/FilterOption";
@import "components/bookshop/Bookshop";
@import "components/searchInput/SearchInput";
@import "components/authorList/AuthorList";
@import "components/author/Author";
@import "components/merch/Merch";
@import "components/merchList/MerchList";
@import "components/userInfoEdit/UserInfoEdit";
@import "components/changePhoto/changePhoto";

@import "pages/navbar/NavBar";
@import "pages/home/Home";
@import "pages/details/BookshopDetails/BookshopDetails";
@import "pages/details/AuthorDetails/AuthorDetails";
@import "pages/search/generalSearch/GeneralSearch";
@import "pages/search/bookSearch/BookSearch";
@import "pages/search/bookshopSearch/BookshopSearch";
@import "pages/search/merchSearch/MerchSearch";
@import "pages/search/authorSearch/AuthorSearch";
@import "pages/user/User/edit/editPayment/EditPaymentInfo";
@import "pages/user/User/edit/editPersonal/EditPersonalInfo";

@import "pages/user/auth-modal/AuthModal";
@import "components/shared/Empty/Empty";
@import "pages/user/User/User";
@import "components/shared/UserBanner";
