@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Josefin+Sans:wght@200;300;500;600&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$backgroundColor: #F1F1F1;
$orange: #FF7F51;
$brown: #705D56;
$backgroundAccent: #EBE6E4;
$colourCloser: #4D9AD1;
$colourCheaper: #62C33F;

$headingFont: Raleway, sans-serif;
$paragraphFont: Roboto, sans-serif;
$priceFont: Raleway, sans-serif;

$titleSize: 40px; // UTILIZAR REM?
$titleSizeAPP: 22px; // UTILIZAR REM?

$subtitleSize: 30px; // UTILIZAR REM?
$subtitleSizeAPP: 18px; // UTILIZAR REM?

$listTitles: 25px; //UTILIZAR REM?
$listTitlesAPP: 20px; //UTILIZAR REM?

$paragraphSize: 18px; // UTILIZAR REM?
$paragraphSizeAPP: 15px; // UTILIZAR REM?

* {
  box-sizing: border-box;
}

body, html {
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
  height: 100%;
  text-decoration: none;
}

.App {
  display: flex;

  .content {
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
  }

  @media(max-width: 768px) {
    flex-direction: column-reverse;
  }
}

@import "pages/navbar/NavBar";
@import "pages/details/BookshopDetails/BookshopDetails";
@import "pages/favorite/favorite";
