$backgroundColor: #F1F1F1;
$orange: #FF7F51;
$brown: #705D56;
$darkBlue: #3C4242;
$lightGrey: #9E9E9E;
$backgroundAccent: #EBE6E4;
$colourCloser: #4D9AD1;
$colourCheaper: #62C33F;

$headingFont: Raleway, sans-serif;
$paragraphFont: Roboto, sans-serif;

$titleSize: 2rem; // UTILIZAR REM?
$titleSizeAPP: 1.5rem; // UTILIZAR REM?

$subtitleSize: 1.8rem; // UTILIZAR REM?
$subtitleSizeAPP: 1.3rem; // UTILIZAR REM?

$listTitles: 1.4rem; //UTILIZAR REM?
$listTitlesAPP: 1.2rem; //UTILIZAR REM?

$paragraphSize: 1.2rem; // UTILIZAR REM?
$paragraphSizeAPP: 1rem; // UTILIZAR REM?

$libraryDetails: 1.6rem;
$libraryDetailsAPP: 0.9rem;


.home {
  background-color: $backgroundColor;
}

.content{

  .userInfo{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;

    .userBanner{
      width: 100%;
      height: 170px;
      background-color: #f3cec0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      z-index: 0;
    }

    .wrapper-Info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 5rem auto 0 auto ;
      z-index: 1;

      .imageText{

        display: flex;
        flex-wrap: wrap;
        align-self: start;

        .userImage{
          background-color: $backgroundAccent;
          width: 15rem;   /* 240px */
          height: 15rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          text-align: left;
          margin-left: 0;
        }

        .userText{
          width: fit-content;
          font-family: $headingFont;
          font-size: $paragraphSize;
          color: $brown;
          text-align: left;
          display: flex;
          flex-direction: column;
          margin-left: 1rem;
          margin-top: 6rem;

          h1{
            margin-bottom: 0;
          }
        }
      }
    }

  }

  .wrapper{

    display: flex;
    flex-flow: column;
    text-align: center;
    max-width: 80%;
    margin: 2rem auto 1rem auto;

    .btn-box{
      width: 99%;
      height: 3rem;

      display: flex;
      justify-content: end;
      align-items: center;



      .button-ver-mais{
        background-color: #FF7F51;
        color: white;
        font-size: 1rem;
        padding: 0.5rem 4rem;
        margin-right: -0.5rem;
        border-radius: 1rem;
        border: none;
        outline: none;
        margin-top: 1rem;
        cursor: pointer;

      }
    }

    .status-text{
      display: flex;
      justify-content: space-between;
    }
  }

  .wrapper-list-profile{
    max-width: 80%;
    margin: 0 auto;
  }

}



/*  - - -   MEDIA - - - */
@media (max-width: 768px) {

  .content{

    .wrapper{
      width: 85%;
      margin: 0 auto;

      .btn-box{
        width: 99%;
        height: 3rem;

        display: flex;
        justify-content: end;
        align-items: center;

        .button-ver-mais{
          background-color: #FF7F51;
          color: white;
          font-size: 1rem;
          padding: 0.5rem 4rem;
          margin-right: -0.5rem;
          border-radius: 1rem;
          border: none;
          outline: none;
          margin-top: 1rem;
          margin-right: 0rem;
          cursor: pointer;

        }
      }

      .status-text{
        display: flex;
        justify-content: space-between;

      }
    }

    .wrapper-list-profile{
      max-width: 80%;

    }
  }

  .footer{
    display: none;
  }

}

@media (max-width: 1000px) {

  .footer {
    display: none;
  }

}















