
$backgroundColor: #F1F1F1;
$orange: #FF7F51;
$brown: #705D56;
$backgroundAccent: #EBE6E4;

$headingFont: Raleway, sans-serif;
$paragraphFont: Roboto, sans-serif;

$titleSize: 40px;
$subtitleSize: 30px;
$listTitles: 25px;
$paragraphSize: 18px;

*{
  box-sizing: border-box;
  text-decoration: none;
}

.Livro{
  max-width: 210px;
  max-height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 10px;

    .livro-image {
      display: block;
      min-width: 150px;
      height: 240px;
      background-image: url("IreneVallejo.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6px;

    }

    .title{
      font-family: $headingFont;
      color: $brown;
      text-align: center;
      font-size: 0.9rem;

    }

    .nome{
      margin-top: -4px;
      text-align: start;
      font-size: 0.9rem;
      color: $brown;
    }

    .btn-desde{
      background-color: $brown;
      color: white;
      font-size: 0.8rem;
      padding: 0.7rem 1.3rem;
      border-radius: 50px;
      border: none;
      outline: none;
      cursor: pointer;
      display: block;
      align-self: start;
  }
}












/*  - - -   MEDIA - - - */
@media (max-width: 768px) {

  .Livro{
    max-width: 180px;
    max-height: 300px;
    margin-bottom: 16px;

    .livro-image {
      display: block;
      min-width: 180px;
      height: 230px;
      background-image: url("IreneVallejo.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6px;
      margin-bottom: 10px;

    }

    .title{
      font-family: $headingFont;
      color: $brown;
      text-align: start;
      font-size: 0.8rem;
      margin-bottom: 10px;
      line-height: 10px;
    }

    .nome{
      font-family: $paragraphFont;
      color: $brown;
      text-align: start;
      font-size: 0.9rem;
      margin-bottom: 5px;
      line-height: 10px;
    }

    .btn-desde{
      background-color: $brown;
      color: white;
      padding: 0.4rem 0.7rem;

      border-radius: 1rem;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 0.8rem;


    }
  }
}




