.MerchSearch {

  .contentDisplay {
    display: flex;

    @media(max-width: 768px) {
      flex-direction: column;
    }
  }

  .search {
    flex: 1;

    .container {
      margin: 0 10%;

      h1 {
        font-size: $titleSize;
        color: $brown;
        width: 100%;
      }

      .merchList {
        .MerchList {

          .Merch {
            width: 30%;
            margin-right: 3%;

            @media(max-width: 768px) {
              width: 48%;
              margin-right: 2%;
            }
          }
        }
      }
    }
  }
}