.BookSearch {

  .contentDisplay {
    display: flex;

    }

    .search {
      flex: 1;

      .container {
        margin: 0 10%;
      }

      h1 {
        font-size: $titleSize;
        color: $brown;
        width: 100%;
      }
    }
  }
